/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body { font-size: 13px; font-family: arial; color: #fff; }
#pg { width: 612px; height: 500px; margin: 0 auto; padding: 72px 44px 0;  background: url('img/blackboard-new.jpg') 50% -135px no-repeat;
    font-family: 'Annie Use Your Telescope'/* 'Waiting for the Sunrise' */, cursive, arial; position: relative; }
input {font-family: 'Annie Use Your Telescope'/* 'Waiting for the Sunrise' */, cursive, arial;}
input.password { font-family: arial }
#hd { text-align: center; }
#bd {padding: 0 20px 30px; position: relative; _zoom:1; }
#ft {
  border-top:  1px solid #aaa; padding: 5px; font-size: 12px; text-align: center; position: fixed; bottom: 0; width: 100%;
  background:  #fff;
}
/* h1,h2,h3 { font-family: 'Love Ya Like A Sister', cursive, arial;   } */
h1,h2,h3,p,ul,li,*,
h1:hover,h2:hover,h3:hover,p:hover,ul:hover,li:hover,*:hover{ cursor: default; }
input:hover { cursor: text; }
button:hover { cursor: hand; cursor: pointer; }
h1,h3,p { padding: 0; margin:  0; font-weight: bold;}
h1 { font-size: 2em; padding-bottom: 3px; }
h2 { position: absolute; top: -43px; right: 30px; font-size: 1.2em; text-align: right; _right: 20px; _zoom: 1; }
h3 { font-size: 1.3em; padding: 12px 0 5px; }
strong { font-weight: bold; }

#bd ul { list-style: disc; padding: 5px 5px 5px 0; font-size: 1.2em; }
#bd li { padding: 4px 6px; outline: 0; }

#ft p { display: block; margin-right: 15px; }
#ft a {
  padding:  0 5px;
  margin: 0 5px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

iframe { position: fixed; bottom: 0; display:none; }

#status { position: absolute; top: 217px; right: 60px; color: #ccc; font-size: 10px; display: none; }
.saving #status { display: block; }


#bd ul {
  list-style: none;
}
#bd li { padding-left: 20px; background: url('img/check.gif') 0 50% no-repeat; cursor: text; }
.saving #bd li:focus {
  background-image: none;
}
#bd li.empty { color: #f0df23; background: none; }
.classes { padding-bottom: 5px; margin-bottom: 5px;}
#bd a { color: #aaa; font-weight: bold; font-size: 1.2em; text-decoration: none; }

.login {
  width: 350px;
  margin: 50px auto;
  font-size: 2em;
  line-height: 2em;
  text-align: right;
}
.login label {
  width: 153px;
  text-align: right;
  padding-right: 20px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;
}
.login input {
  width: 160px;
  padding: 3px;
  background: none;
  border: 1px solid #aaa;
  border-width: 0 0 0 0;
  color: #fff;
  font-size: 1em;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;
}
.login button {
  line-height: 1.5em;
}

.handle {
  font-weight: normal;
  font-size: 0.8em;
  zoom: 1;
  padding-left: 10px;
}

.handle .instructions {
  display: none;
  width: 350px;
  background: white;
  padding: 10px;
  position: absolute;
  color: black;
  font-weight: normal;
  font-family: Arial;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: -28px 0 0 -10px;
  box-shadow: 0 0 50px #333;
  -o-box-shadow: 0 0 50px #333; -moz-box-shadow: 0 0 50px #333; -webkit-box-shadow: 0 0 50px #333;
  border-radius: 5px;
  -o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  zoom: 1;
  *border: 2px solid #333;
}
.handle:hover {
  cursor: default;
}
.handle.hover .instructions,
.handle:hover .instructions {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.status {
  text-align: center;
  display: block;
  font-size: 1.2em;
  color: #F0DF23
}