h1 { padding-bottom: 5px;}
#hd { position: relative; }
#hd p {vertical-align: middle; position: absolute; bottom: 5px; right: 0; }
#hd p a { display: inline-block; vertical-align: middle; margin:  0 3px}

#ft input { width: 280px;}

/* Autocomplete styles */
ul.smart_autocomplete_container { box-shadow: 0 0 20px #666; border-radius: 5px; padding:  5px; }
ul.smart_autocomplete_container ul {list-style: none; padding: 0; margin:  0;}
ul.smart_autocomplete_container li {list-style: none; cursor: pointer; margin: 3px 0; padding: 5px; }
li.smart_autocomplete_highlight {background-color: #ddd; }