/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body { font-size: 13px; font-family: arial; color: #fff; }
#pg { width: 612px; height: 500px; margin: 0 auto; padding: 242px 44px 0;  background: url('img/chalkboard.jpg') 50% 50% no-repeat;
    font-family: 'Annie Use Your Telescope'/* 'Waiting for the Sunrise' */, cursive, arial; position: relative; }
input {font-family: 'Annie Use Your Telescope'/* 'Waiting for the Sunrise' */, cursive, arial;}
#hd { text-align: center; }
#bd {padding: 0 20px 30px; position: relative;}
#ft {
  border-top:  1px solid #aaa; padding: 5px; font-size: 12px; text-align: center; position: fixed; bottom: 0; width: 100%;
  background:  #fff;
}
/* h1,h2,h3 { font-family: 'Love Ya Like A Sister', cursive, arial;   } */
h1:hover,h2:hover,h3:hover,p:hover,ul:hover,li:hover,*:hover{ cursor: default; }
input:hover { cursor: text; }
button:hover { cursor: hand; cursor: pointer; }
h1,h3,p { padding: 0; margin:  0; font-weight: bold;}
h1 { font-size: 2em; padding-bottom: 3px; }
h2 { position: absolute; top: -43px; right: 30px; font-size: 1.2em; text-align: right;}
h3 { font-size: 1.3em; padding: 12px 0 5px; }
strong { font-weight: bold; }

#bd ul { list-style: disc; padding: 5px 5px 5px 0; font-size: 1.2em; }
#bd li { padding: 4px 6px; outline: 0; }

#ft p { display: block; margin-right: 15px; }
#ft a {
  padding:  0 5px;
  margin: 0 5px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

iframe { position: fixed; bottom: 0; display:none; }

#status { position: absolute; top: 217px; right: 60px; color: #ccc; font-size: 10px; display: none; }
.saving #status { display: block; }